{% extends 'produtos/base.html' %}

{% block conteudo %}
<style>
    .centralizar {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
    <form action="{% url 'resultados' %}" method="POST"> {% csrf_token %}
        <div class="centralizar">
            <h1> Pesquisar</h1>
            <input type="text" class="form-control-lg" name="produto" placeholder="pesquisar...">
            <input type="button" class="form-control-lg" value="Buscar 🔍🔎">
        </div>
    </form>
{% endblock conteudo %}